Django==1.6
MySQL-python==1.2.3
South==0.8.2
boto==2.16.0
discogs-client==1.1.1
distribute==0.7.3
django-debug-toolbar==0.11.0
django-gitrevision==0.1.5
django-storages==1.1.8
GitPython==0.3.2.RC1
gunicorn==18.0
ipython==1.1.0
mutagen==1.22
pycurl==7.19.0.2
python-magic==0.4.6
python-memcached==1.53
wsgiref==0.1.2
