# AWS Settings for S3 storage
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
AWS_STATIC_STORAGE_BUCKET_NAME=""

# Local settings
INTERNAL_IPS = ('2001:db8::dead:beef', '127.0.0.1',)
TEMPLATE_DIRS = ('/home/urmom/dev/django-mediastream/mediastream/templates',)
STATICFILES_DIRS = ('/home/urmom/dev/django-mediastream/mediastream/static',)
