{% extends 'base.html' %}
{% load url from future %}
{% block player_body %}
  <ul>
  {% if artist %}
    {% regroup tracks|dictsort:"album.name" by album as regrouped_tracks %}
    <li class="artist"><a href="../">../</a>{{ artist }}</li>
    <ul>
        {% for album in regrouped_tracks %}
        <li class="album"><a href="{% url 'asset-album' album_pk=album.grouper.pk %}">{{ album.grouper }}</a></li>
        <ul>
            {% for track in album.list|dictsort:"track_number"|dictsort:"disc_number" %}
            <li class="track">{{ track.get_pretty_track_number }}. <a href="{% url 'play-track' pk=track.pk %}">{{ track }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
  {% else %}
      {% if album %}
        {% regroup tracks|dictsort:"artist" by artist as regrouped_tracks %}
        {% if regrouped_tracks|length_is:"1" %}
            {% for grouping in regrouped_tracks %}
            <li class="album"><a href="../">../</a><a href="{% url 'asset-artist' artist_pk=grouping.grouper.pk %}">{{ grouping.grouper }}</a> - {{ album }} [<a href="{% url 'play-album' pk=album.pk %}">PLAY</a> | <a href="{% url 'play-album-m3u' pk=album.pk %}">M3U</a> | <a href="{% url 'play-album-pls' pk=album.pk %}">PLS</a>]</li>
            <ul>
                {% for track in grouping.list|dictsort:"track_number"|dictsort:"disc_number" %}
                <li class="track">{{ track.get_pretty_track_number }}. <a href="{% url 'play-track' pk=track.pk %}">{{ track }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% else %}
            <li class="album"><a href="../">../</a>{{ album }} [<a href="{% url 'play-album' pk=album.pk %}">PLAY</a>]</li>
            <ul>
                {% for track in tracks|dictsort:"track_number"|dictsort:"disc_number" %}
                <li class="track">{{ track.get_pretty_track_number }}. <a href="{% url 'asset-artist' artist_pk=track.artist.pk %}">{{ track.artist }}</a> - <a href="{% url 'play-track' pk=track.pk %}">{{ track }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endif %}
  {% endif %}
  </ul>
{% endblock %}
