{% extends "base.html" %}
{% block title %}Asset Upload{% endblock %}
{% block player_head %}
<link type="text/css" href="{{ STATIC_URL }}upload.css" rel="stylesheet" />
<script type="text/javascript">
// for Safari + uploadProgress
var jqpath = "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js";
var uppath = "{{ STATIC_URL }}jquery.uploadProgress.js";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.uploadProgress.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}upload.js"></script>
{% endblock %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="upload_form">
  <form id="upform" enctype="multipart/form-data" method="post" action="{% url "asset-upload" %}">
    {% csrf_token %}
    {{ upform.as_p }}
    <input type="submit" value="Submit" />
  </form>
  <form id="imform" method="post" action="{% url "asset-upload" %}">
    {% csrf_token %}
    {{ imform.as_p }}
    <input type="submit" value="Submit" />
  </form>
</div>
<div id="progress_container">
  <div id="progress_filename"></div>
  <div id="progress_bar">
    <div id="progress_indicator"></div>
  </div>
</div>
{% endblock %}
