body {
    color: lightblue;
    background-color: #1d1234;
}

p.message {
    background-color: #CCCCCC;
    border: 1px solid #009BE3;
    color: #333333;
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
    line-height: 1.6;
    text-align: center;
    width: 420px;
}

span.jp-rating {
    float: right;
}

p.header_top {
    border-bottom: 1px solid;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-weight: bold;
}

p.header_right {
    text-align: right;
    font-family: monospace;
    font-size: 0.7em;
}

li.artist {
    font-size: 1.3em;
}

li.album {
    font-size: 1.1em;
}

li.album a,
li.artist a,
li.track a {
    text-decoration: none;
    color: cyan;
}
