{% extends "base.html" %}
{% block bodyclass %}class="playmode"{% endblock %}
{% block player_head %}
  <!-- <link type="text/css" href="{{ STATIC_URL }}jplayer.blue.monday.css" rel="stylesheet" /> -->
  <link type="text/css" href="{{ STATIC_URL }}jplayer.pink.flag.css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}mediastream.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.jplayer.min.js"></script>
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  {% block player_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            {% block player_setmedia %}{% endblock %}
          });
        },
        swfPath: "{{ STATIC_URL }}",
        supplied: "{% block player_supplied %}m4a, mp3{% endblock %}",
        wmode: "window" // for Firefox 3.6 compatibility
      });
    });
  </script>
  {% endblock %}
{% endblock %}
{% block body_top %}
  <canvas id="c" style="display:none; position:fixed; top:0; left:0; z-index:-1;"></canvas>
  <script type="text/javascript">
// Visual eyecandy from: http://acko.net/blog/js1k-demo-the-making-of/
// By Steven Wittens, 2010.
document.body.clientWidth;
f=Math;
e=document.body.children[d=0];
G="globalCompositeOperation";
Q=.43;
P=.05;
var make_pretty;
var the_interval;
with(e){
    with(style)width=(w=innerWidth-9)+"px",height=(h=innerHeight-25)+"px";
    W=(width=w/=2)/2;
    H=(height=h/=2)/2;
    g=getContext("2d");
    t=w/h
}
with(g){
    scale(W/t,H);
    translate(t,1);
    make_pretty = function(){
        with(E=e.cloneNode(0))width=height=H,c=getContext("2d");
        c.fillRect(0,0,h,h);
        g[G]=c[G]="lighter";
        C=f.cos;
        S=f.sin;
        L=f.atan2;
        q=C(d);
        r=S(q-d*.7)+Q;
        u=C(r-d*Q)+Q;
        a=L(q,-u*2);
        b=L(r,u*u+q*q);
        n=C(a);
        o=S(a);
        N=C(b);
        O=S(b);
        d+=P;
        clearRect(-t,-1,2*t,2);
        for(i=14; i>4; --i){
            v=0;
            for(j=25; j;){
                M=f.log(j+.2)*Q;
                j--;
                _=d-j*.07-i*4;
                A=C(_+S(_*.8))*2+_*P;
                B=S(_*.7-C(_*Q))*3;
                x=C(A)*C(B)*M-q;
                y=S(A)*C(B)*M-r;
                z=S(B)*M-u;
                k=x*n+z*o;
                _=z*n-x*o;
                l=y*N+_*O;
                z=_*N-y*O;
                lineTo(k/=z,l/=z);
                lineWidth=P/z;
                strokeStyle="hsl("+60*S(d-z)+",60%,"+~~(40-j)*(Q+!j+(.1>(d-j*P)%1))+"%)";
                if(z>.1)v++&&stroke();
                else{v=0}
                beginPath();
                moveTo(k,l)
            }
        }
        A="drawImage";
        N=H/2;
        c.globalAlpha=Q;
        c[A](e,0,0,H,H);
        X=k*N+N;
        Y=l*N+N;
        K=1.1;
        c.translate(X,Y);
        while(i--)c.scale(K,K),c[A](E,-X,-Y,H,H);
    g[A](E,-t,-1,2*t,2)
    }
} 
  </script>
{% endblock %}
{% block player_body %}
  <p id="playeralerts" class="message" style="display:none;"></p>
  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
        </ul>
        <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
          <div class="jp-duration"></div>
          <ul class="jp-toggles">
            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
          </ul>
        </div>
      </div>
      <div class="jp-title">
        {% block player_textbox %}{% endblock %}
      </div>
      <div class="jp-no-solution">
        <span>Update Required</span>
        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
      </div>
    </div>
  </div>
{% endblock %}
{% block body_bottom %}
  <script>
    $("#heading").toggle(function() {
        $("#c").fadeIn(2000);
        $("#jp_container_1").fadeTo(2000, 0.5);
        $("#heading").fadeTo(10000, 0.2);
        the_interval = setInterval(make_pretty,33);
    }, function() {
        $("#c").fadeOut(500, function() {clearInterval(the_interval)});
        $("#jp_container_1").fadeTo(500, 1.0);
        $("#heading").fadeTo(2000, 1.0);
    });
  </script>
{% endblock %}
